h2{
	text-align:center;
	font-family:impact;
	font-size:50px;
	background-color:#996633;
	padding: 20px;
	color:white;
}
body{
	background-color: #009900;
	font-family:comic sans ms;
	color:white;
	text-align:center;

}
